.c-btn {
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: $border-radius-xl;
  background-color: $secondary;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  & .c-btn__text {
    display: block;
    background: $primary;
    padding: 0 20px;
    border: 1px solid $dark;
    border-radius: $border-radius-xl;
    transform: translate(-4px,-4px);
    transition: transform .3s cubic-bezier(.7,0,.2,1);
    line-height: $line-height-lg;
    min-width: 100%;
    letter-spacing: 2px;
    color: $secondary;
  }
  &:hover .c-btn__text {
    transform: translate(-8px, -8px);
    background: #f9faee;
  }
}

// Try it out button - Home
.btn-hover-primary {
  &:hover {
    background-color: $primary;
    color: $black;
    border: 1px solid $primary;
  }
}
.btn-hover-arrow {
  &:hover svg{
    transition: all .5s ease;
    transform: translateX(50%);
  }
}

// BackToTop
.btn-backToTop {
  background-color: $orange-400;
  border-radius: .5rem;
  width: 3.125rem;
  height: 3.125rem;
  text-align: center;
  position: fixed;
  bottom: 1.875rem;
  right: 1.875rem;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  & svg {
    font-weight: bold;
    transform: translateY(0.3125rem);
    width: 2.5rem;
    height: 2.5rem;
    color: $white;
  }
  &:hover {
    cursor: pointer;
    background-color: $orange-300;
  }
  &:active {
    background-color: $secondary;
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }
}