.c-table {
  background-color: #3e6765;
  padding-bottom: .5rem;
}
.c-table__body {
  margin: 0 .5rem;
  background-color: #f9faee;
  padding: 1rem;
  & p {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed lightgray;
  }
}